* {
  margin: 0;
  padding: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  /* border-bottom: 16px solid #3498db; */
  animation: spin 1.5s linear infinite;
}

.content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
  text-align: center;
  animation: display 2s;

}

p {
  font-size: 1.2rem;
}

@keyframes spin {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes display {
  from { 
    opacity:0;
  }
  to {
    opacity: 1;
  }
}