* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #000;
  font-weight: 300;
  line-height: 1.6; }

.header {
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .header__banner {
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 100%;
    animation: fadeEffect 1s; }
    .header__banner--London {
      background-color: #FF5721; }
    .header__banner--Paris {
      display: none;
      background-color: #4CAF4F; }
    .header__banner--Ottawa {
      display: none;
      background-color: #2396F3; }
    .header__banner--Tokyo {
      display: none;
      background-color: purple; }
    .header__banner__text {
      font-size: 2.5rem;
      font-weight: 600;
      margin-top: 2rem; }
  .header__links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%; }
  .header__item {
    width: 25%;
    text-decoration: none;
    font-size: 2rem;
    text-align: center; }
  .header__link {
    display: inline-block;
    text-decoration: none;
    color: #000;
    width: 100%;
    background-color: #eee;
    padding: 1.5rem;
    outline: none;
    cursor: pointer; }
    .header__link:not(.active):hover {
      background-color: lightgrey; }
  .header .heading-1 {
    padding-top: 10rem; }
  .header .active {
    color: #fff;
    background-color: #FF5721; }

@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.mt-sm {
  margin-top: 2rem; }

.mt-md {
  margin-top: 3rem; }

.mt-lg {
  margin-top: 4rem; }

.mt-hg {
  margin-top: 8rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }
